@model IEnumerable<Domain.ProductGroups>

    <section class="border-radius category-side">
        <header><h3> دسته بندی ها </h3></header>
        <article>
            <ul >
                @foreach (var item in Model.Where(g => g.ParentId == null))
                {
                    <li >
                        <h2 style="font-size: 35px;"><a href="/Archive?pg=@item.GroupId">@item.GroupTitle</a></h2>
                        <br/>
                        <ul class="category-menu ">
                            @foreach (var subItem in Model.Where(g => g.ParentId == item.GroupId))
                            {
                                <li >
                                    <h2 style="font-size: 15px"><a href="/Archive?pg=@subItem.GroupId"> @subItem.GroupTitle </a></h2>
                                    <ul>
                                        @foreach (var thirdItem in Model.Where(g => g.ParentId == subItem.GroupId))
                                        {

                                            <li style="margin-right: 6px; margin-top: 3px">
                                                <h2> <a href="/Archive?pg=@thirdItem.GroupId">@thirdItem.GroupTitle</a> </h2>
                                            </li>

                                        }
                                    </ul>
                                </li>
                            }
                         

                        </ul>
                    </li>
                }


            </ul>
        </article>
    </section>

