
@{
    ViewBag.Title = "ActiveUser";
}


<div class="col-md-9 col-sm-8 left-side-content internal-style" id="Register">
    <div class="alert alert-success">
        <h2>@ViewBag.UserName عزیز!</h2>
        <p> حساب کاربری شما با موفقیت فعال شد.</p>
        <p>از طریق کنید لینک زیر می‌توانید وارد سایت شوید</p> <br/>
        <a class="btn btn-success" href="/Login">ورود به سایت</a>

    </div>
</div>

