@using System.Web.UI.WebControls
@model ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

@if (ViewBag.IsSuccess == true)
{
    <script>
        window.onload = function () {
            document.getElementById('email').value = "";
        }
    </script>
    <div class="col-md-9 col-sm-8 left-side-content internal-style" id="Register">
        <div class="alert alert-success">
            <p>لینک تغییر رمز عبور به ایمیل شما ارسال شد.</p>
        </div>
    </div>
}

<div class="col-md-9 col-sm-8 left-side-content internal-style " style="width: 100%">

    <section class="border-radius">
        <header><h3>فراموشی رمز عبور </h3></header>
        <article>
            <div class="col-md-10 col-sm-10 col-xs-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "ایمیل",id = "email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <input style="background-color: dodgerblue;" type="submit" value=" بازیابی رمز عبور">
                }
            </div>
            <div class="clearfix"></div>
        </article>
    </section>

</div>
