@model Domain.Users
@{
    ViewBag.Title = "SuccessRegister";
}

<div class="col-md-9 col-sm-8 left-side-content internal-style" id="Register">
    <div class="alert alert-success">
        <h2>@Model.UserName با تشکر از ثبت نام شما در سایت.</h2>
        <p> ایمیلی حاوی لینک فعال سازی به ایمیل شما ارسال شد.</p>
    </div>
</div>
