@model Domain.Users
@{
    ViewBag.Title = "UserInfo";
}


<div class="col-md-9 col-sm-8 left-side-content internal-style">
    <span style="font-size: 20px">اطلاعات کاربری</span>
    <hr />
    <article>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">نام کاربری</div>
                <div class="panel-body">
                     @Model.UserName
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">ایمیل</div>
                <div class="panel-body">
                    @Model.Email
                </div>
            </div>
            <a class="btn btn-primary" href="/user/edit">ویرایش اطلاعات کاربری</a>
        </div>
        <div class="clearfix"></div>
    </article>

</div>

@*<div class="col-md-9 col-sm-8 left-side-content internal-style">

        <section class="border-radius">
            <header><h3> اطلاعات حساب کاربری </h3></header>
            <article>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">نام کاربری</div>
                        <div class="panel-body">
                            امیررضا خلیلی
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">ایمیل</div>
                        <div class="panel-body">
                            amir.reza487@gmail.com
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">شماره تلفن همراه</div>
                        <div class="panel-body">
                            09012723589
                        </div>
                    </div>

                </div>

                <div class="clearfix"></div>
            </article>
        </section>

    </div>*@



