@{
    if (User.Identity.IsAuthenticated)
    {
        <li><a href=""><i class="fa fa-user"></i> <label>حساب کاربری</label> </a></li>
        <li><a href="/LogOff"><i class="fa fa-sign-out"></i> <label>خروج</label> </a></li>
    }
    else
    {
        <li><a href="/Register"><i class="fa fa-user-plus"></i> <label>ثبت ‌نام</label> </a></li>
        <li><a href="/Login"><i class="fa fa-user"></i> <label>ورود به سایت</label> </a></li>
    }
}

