@using System.Configuration
@model Domain.Users
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div style="direction: rtl; padding: 20px">
    <h1>فروشگاه آنلاین بامیلو</h1>
    <hr>
    <h2>@Model.UserName عزیز!</h2>
    <p>با تشکر از ثبت‌نام شما در سایت، جهت فعالسازی حساب خود بر روی دکمه زیر کلیک کنید.</p> <br />
    <button style="   border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;background-color: #008CBA;">
        <a style="font-size: 15px;color: black; margin-top: 10%" href="@ConfigurationManager.AppSettings["Domain"]/ActiveUser/@Model.ActiveCode">
            فعالسازی حساب
        </a>
    </button>
</div>
